



<div class='alert alert-notice'><%= notice %></div>

<% if @users.any? %>

  <br/>
  <h1>Lista de usuários</h1>

  <table class='table table-bordered'>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name} #{user.email} - #{user.age}", user %></td>
        <td><%= link_to "<i class='icon-edit'> </i>".html_safe, edit_user_path(user) %></td>
        <td><%= link_to "<i class='icon-remove'></i>".html_safe, user, :method => :delete %></td>
      </tr> 
    <% end %>



  </table>

<% else %>
  
  <div class='alert'>
  
    Nenhum usuário cadastrado
  
  </div>

<% end %>


<%= link_to 'Novo usuário', new_user_path, class: 'btn btn-success' %>