<!DOCTYPE html>
<html>
<head>
  <title>Título</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'shared/navbar' %>

  <div class='container'>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <div class='row-fluid'>
      
      <div class='span3'>
        <%= yield :sidebar %>
      </div>

      <div class='span9'>
        <%= yield %>
      </div>
      
    </div>

  </div>

</body>
</html>
